h1 {
    color: #a400ff;
}
button {
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffdd00;
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -o-transition: background-color 2s;
}
button:hover {
    background-color: #05bf00;
}
button:active {
    background-color: #bf5c00;
}
.block {
    width: 300px;
    height: 200px;
    background-color: #a5ff9f;
    position: relative;
    overflow: hidden;
    border: 1px solid #bf5c00;
}
.blockIn {
    width: 200px;
    height: 50px;
    background-color: #ffdd00;
    position: absolute;
    top: 70px;
    right: -160px;
    color: white;
    font-size: 30px;
    border: 1px dashed #bf5c00;
    text-align: center;
    transition: right 1s;
    -webkit-transition: right 1s;
    -moz-transition: right 1s;
    -o-transition: right 1s;
}
.blockIn:hover {
    right: 0;
}
.city {
    background: url("img/bg.jpg") no-repeat left;
    background-size: cover;
    width: 500px;
    height: 300px;
    position: relative;
}
.auto {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100px;
    height: auto;
}
@keyframes auto {
     0% {
         left: 0;
     }
     50% {
         left: 400px;
     }
     100% {
         left: 200px;
     }
}
@-webkit-keyframes auto {
    0% {
        left: 0;
    }
    50% {
        left: 400px;
    }
    100% {
        left: 200px;
    }
}
@-moz-keyframes auto {
    0% {
        left: 0;
    }
    50% {
        left: 400px;
    }
    100% {
        left: 200px;
    }
}
@-o-keyframes auto {
    0% {
        left: 0;
    }
    50% {
        left: 400px;
    }
    100% {
        left: 200px;
    }
}

.auto {
    animation: auto 10s 2s ease-out forwards;
    -webkit-animation: auto 10s 2s ease-out forwards;
    -moz-animation: auto 10s 2s ease-out forwards;
    -o-animation: auto 10s 2s ease-out forwards;
}
.auto:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
}
